<div class="container w-50 mt-5">
  <div class="flat shadow-sm mt-4 p-3 rounded">
    <h1><%= @flat.name %></h1>
    <h2><%= @flat.address %></h2>
    <%= link_to 'Edit', edit_flat_path(@flat) %>
    <%= link_to 'Delete', flat_path(@flat), method: :delete %>
  </div>
  <div class="flat shadow-sm mt-4 p-3 rounded">
    <h2>A bit more about this flatt...</h2>
    <p><%= @flat.description %></p>
  </div>
  <div class="flat shadow-sm mt-4 p-3 rounded">
    <h2>details</h2>
    <div class="flat-details d-flex text-center">
        <%= @flat.number_of_guests %>
        <p><i class="fa fa-users"></i></p>
        <%= @flat.price_per_night %>
        <p><i class="fa fa-euro"></i></p>
        </div>
  </div>
</div>

